<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de registro</title>
    <link rel="stylesheet" href="css/styles-register.css">
    <script src="https://kit.fontawesome.com/fd025b519f.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="promos-bancarias">Promociones bancarias + envío gratis</div>
    <header>
        <img src="img/LOGO RUNNERS STORE.png" class="logo">
        <nav>
            <div class="dropdown">
                <div class="bars">
                    <button><i class="fa-solid fa-bars bars-icon"></i></button>
                    <ul>
                        <li><a href="#">Mujer</a></li>
                        <li><a href="#">Hombre</a></li>
                        <li><a href="#">Zapatillas</a></li>
                        <li><a href="#">Accesorios</a></li>
                        <li><a href="#">Marcas</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <h3 class="search-bar"><input type="search" placeholder="   Buscar" class="buscador"><i
                class="fa-solid fa-magnifying-glass icon-glass"></i>
        </h3>
        <p class="icon-right"><a href="/productCart"><i class="fa-solid fa-cart-shopping icon"></i></a>
            <a href="/login"><i class="fa-solid fa-circle-user icon"></i></a>
        <p>
    </header>
    <main>
        <form action="/register" method="post">
            <div class="datos">
                <h3>Datos personales</h3>
                <br>
                <input type="text" name="nombre" id="nombre" placeholder="NOMBRE">
                <input type="text" name="apellido" id="apellido" placeholder="APELLIDO">
                <br>
                <label>Fecha de nacimiento</label>
                <input type="date" name="birth_date" id="birth_date">
                <br>
                <label>Tipo*</label>
                <select>
                    <option>DNI</option>
                </select>
                <label>Numero de documento*</label>
                <input type="text" name="numero-doc" id="numero-doc">
                <br>
                <label>Género</label>
                <select>
                    <option>Masculino</option>
                    <option>Femenino</option>
                </select>
                <br>
                <label>Número de telefono</label>
                <input type="text" name="Num-telefono" id="Num-telefono">
            </div>
            <div class="datos-cuenta">
                <h3>Datos de cuenta</h3>
                <label>Email</label>
                <input type="text" name="email" id="email">
                <br>
                <label>Confirmar email*</label>
                <input type="text" name="email" id="email">
                <br>
                <label>Contraseña</label>
                <input type="password" name="contraseña" id="contraseña">
                <br>
                <label>Confirmar contraseña*</label>
                <input type="password" name="contraseña" id="contraseña">
            </div>
        </form>
    </main>
    <footer>
        <div class="footer-icon">
            <i class="fa-brands fa-facebook-square"></i>
            <i class="fa-brands fa-instagram-square"></i>
            <i class="fa-brands fa-whatsapp-square"></i>
            <i class="fa-solid fa-envelope"></i>
        </div>
        <div class="link-foot">
            <li type="none"> <a href="#" class="links-footer">Términos y condiciones </a></li>
            <li type="none"> <a href="#" class="links-footer">Políticas de Privacidad</a></li>
            <li type="none"> <a href="#" class="links-footer">Reclamos</a></li>
            <li type="none"> <a href="#" class="links-footer">Políticas de Cookies </a></li>
        </div>

        <div class="arrow">
            <i class="fa-solid fa-circle-arrow-up"></i>
        </div>
    </footer>

</body>

</html>