/*Estilos generales*/

* {
    margin: 0px;

}

body {
    font-family: "Roboto";
}

main {
    margin: 180px auto 0px;
    text-align: center;
}


/*Estilos header*/

.TopBar {
    background-color: rgba(194, 29, 23, 0.75);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 133px;
    width: 100%;
    position: fixed;
    top: 0;
    filter: drop-shadow(0 0 0.75rem #330807);
    z-index: 1;
}

.TopBar h1 {
    color: #e8e8e7;
    font-size: 50px;
}

.bottomMenu {
    background-color:  rgba(194, 29, 23, 0.75);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 133px;
    width: 100%;
    position: fixed;
    bottom: 0;
    filter: drop-shadow(0 0 0.75rem #330807);
    z-index: 1;
}

.logo {
    width: 7rem;
}

li {
    list-style: none;
    text-decoration: none;
}

ul{
    text-decoration: none;
    display: flex;
}

li span {
    color: #e8e8e7;
    text-decoration-line: none;
    box-shadow: none;
    padding: 1rem 2rem;
    font-size: 20px;
    font-weight: bold;
  }

.link{
  text-decoration: none;
}

@media(min-width:760px) {
    .logo {
        width: 8rem;
        margin-left: 20px;
    }
}

@media (min-width: 1500px) {
    .logo {
        width: 9rem;
    }
}