<div class="contenedorHeader">
  <div class="promos-bancarias">Promociones bancarias + envío gratis</div>
  <header>
    <a href="/"><img src="/img/LOGO RUNNERS STORE.png" class="logo"></a>
    <nav class="nav-menu">
      <div class="dropdown">
        <div class="bars">
          <button><i class="fa-solid fa-bars"></i></button>
          <ul>
            <li><a href="">Mujer</a></li>
            <li><a href="">Hombre</a></li>
            <li><a href="">Zapatillas</a></li>
            <li><a href="">Accesorios</a></li>
            <li><a href="#">Marcas</a></li>
            <li><a href="#">Todos</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <h3 class="search-bar buscar"> <form action="/products/search" method="POST" class="buscador">
      <input type="search" name="buscar" placeholder="Buscar" class="buscador_hijo"><i class="fa-solid fa-magnifying-glass icon-glass"></i>
    </form>
    </h3>

    <p>
    <nav>
      <div class="dropdown-login">
        <div class="bars-login">
          <button><i class="fa-solid fa-circle-user icon"></i></button>
          <ul>
            <% if (!locals.isLogged) {%>
            <li><a href="/users/login">Iniciar sesión</a></li>
            <li><a href="/users/register">Registrarme</a></li>
            <% } else { %>
            <li><a href="/users/userProfile">Mi perfil</a></li>
            <li><a href="/users/logout">Cerrar sesión</a></li>
            <% } %>
          </ul>
        </div>
      </div>
    </nav>

    <a href="./products/productCart"><i class="fa-solid fa-cart-shopping icon"></i></a>

    </p>

  </header>
  <div class="navegadorHorizonal">
    <button><a href="/products/productsMujer" style="text-decoration:none">Mujer</a></button>
    <button><a href="/products/productsHombre" style="text-decoration:none">Hombre</a></button>
    <button><a href="/products/productsZapas" style="text-decoration:none">Zapatillas</a></button>
    <button><a href="/products/productsAccesorios" style="text-decoration:none">Accesorios</a></button>
    <button><a href="/products" style="text-decoration:none">Marcas</a></button>
    <button><a href="/products" style="text-decoration:none">Todos</a></button>
  </div>
</div>
<script src="/js/buscador.js" type="text/javascript"></script>