<!DOCTYPE html>
<html lang="es">


<%- include('partials/head') %>

    <%- include('partials/header') %>

        <body>
            <main>
                <img src="img/logo.png" alt="logo" id="carr1" class="index-imgCarrusel">

                <div class="index-botones">
                    <div class="index-boton"></div>
                    <div class="index-boton"></div>
                    <div class="index-boton"></div>
                    <div class="index-boton"></div>
                </div>
                <div class="index-nuevaTemporada">
                    <h3>NUEVA TEMPORADA</h3>
                    <a href="/products/productsAll"><input type="text" name="redirecciónPall" placeholder="Ver más"></a>
                    <div class=" index-prodNuevaTem ">
                        <p>
                            <a href="/products/productsAll"><img src="img/pelotasPaddle.jpg" alt="imagen1" class="index-imgNuevaTemp"></a> Pelotas De Paddle
                        </p>

                        <p>
                            <a href="/products/productsAll"><img src=" img/remera.jpg" alt="imagen2" class="index-imgNuevaTemp"></a>
                            Remera Adidas Hombre
                        </p>

                        <p>
                            <a href="/products/productsAll"><img src=" img/calzaNegraM3.jpg" alt="imagen3" class="index-imgNuevaTemp"></a> Calza Reebok Mujer
                        </p>

                        <p>
                            <a href="/productDetail "><img src="img/adidas3.jpg " alt="imagen4 " class="index-imgNuevaTemp "></a>
                            Zapatillas Adidas Hombre
                        </p>
                    </div>

                </div>
                <div class="index-prodOfertas ">
                    <h4>PRODUCTOS DE PROMOCIÓN</h4>
                    <div>
                        <img src="img/CalzaOfertaAdidas2.jpg " alt="calzaOferta " class="index-img ">
                        <p>Calza Adidas 3/4 Climacool</p>
                        <p>Antes<span style="text-decoration:line-through ">$8000</span> Ahora
                            <span class="index-promoPrecio ">$6400</span>
                        </p>
                    </div>
                </div>
                <div class="index-suscripcion ">
                    <form class="index-form ">
                        <label for="email ">Suscríbete al Newsletter</label>
                        <input type="email " name="email " id="name ">
                    </form>
                    <p>
                        <h6>Recibí las últimas novedades y obtén el 15% de descuento en tu<span type="text-decoration: underline ">
                        próxima
                        compra!</span></h6>
                    </p>
                </div>
            </main>

            <%- include('partials/footer') %>
        </body>

</html>