<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body>
  <%- include('../partials/header') %>

  <main>
    <div class="login-cuadro-ppal">
      <h1>Iniciar Sesión</h1>
      <div class="login-butt-group">
        <a href="/users/login"><button>Iniciar Sesión</button></a>
        <a href="/users/register"><button class="login-disabled">Registrarme</button></a>
      </div>
      <form class="register-form" method="POST" enctype="multipart/form-data">
        <div>
          <input type="email" name="email" placeholder="Email*" required class="login-placeholder">
          <% if (locals.errors && errors.email) { %>
          <div class="text-danger">
            <%= errors.email.msg %>
          </div>
          <% } %>
          <input type="password" name="password" placeholder="Contraseña*" required class="login-placeholder">
        </div>
        <div class="login-check">
          <p> <input type="checkbox" name="remember_user">Recordar mi usuario</p>
          <a href="#">¿Has olvidado tu contraseña?</a>
        </div>

        <button class="login" type="submit">INICIAR SESIÓN</button>
      </form>
    </div>


  </main>
  <%- include('../partials/footer') %>
</body>

</html>