<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Runners Store</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/fd025b519f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/general-styles.css">
    <link rel="stylesheet" href="/css/styles-login.css">
</head>

<body>
    <%- include('../partials/header') %>

        <main>
            <div class="cuadro-ppal">
                <h1>Iniciar Sesión</h1>
                <div class="butt-group">
                    <a href="/login"><button>Iniciar Sesión</button></a>
                    <a href="/register"><button class="disabled">Registrarme</button></a>
                </div>
                <div class="em-pass">
                    <input type="email" placeholder="Email*" required class="placeholder">
                    <input type="password" placeholder="Contraseña*" required class="placeholder">
                </div>
                <div class="check">
                    <p> <input type="checkbox">Recordar mi usuario</p>
                    <a href="#">¿Has olvidado tu contraseña?</a>
                </div>

                <button class="login">INICIAR SESIÓN</button>


            </div>


        </main>
        <%- include('../partials/footer') %>
</body>

</html>