<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body>
  <%- include('../partials/header') %>

  <main>
    <div class="cuadro-ppal-profile">
      <img src="/img/default-avatar.jpg">
      <h1>NOMBRE DE USUARIO</h1>
      <div class="cuadro-email">
        <h3>tuemail@gmail.com</h3>
      </div>
    </div>

  </main>
  <%- include('../partials/footer') %>
</body>

</html>