<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Runners Store</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/fd025b519f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles-productCart.css">
</head>

<body>
    <%- include('../partials/header') %>

        <main>
            <div class="carrito-header">
                <div class="carrito">
                    <h2> MI CARRITO</h2>
                    <h4>x Producto/s</h4>
                </div>
                <a href="/"> Seguir Comprando</a>
            </div>

            <div class="productos-nros">
                <section class="productos-carrito">
                    <article>
                        <div class="c-producto">
                            <img src="img/adidas.jpg" width="15%">
                            <div class="prod-detail">
                                <li type="none">Adidas Forum Low</li>
                                <li type="none">Talle: 38</li>
                                <li type="none"><a href="/productDetail">EDITAR</a></li>
                            </div>

                            <p class="cant">CANTIDAD
                                <select name="cantidad">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                            </p>

                            <div class="precio">
                                <li type="none">PRECIO</li>
                                <li type="none" class="precio1">$ 29.999</li>
                            </div>

                        </div>
                    </article>
                </section>

                <section class="box-nros">

                    <div class="costo-envio">
                        Calculá el costo de envío
                        <input type="text" placeholder="Código postal" class="in-button"><button type="button" class="button-1">Calcular</button>
                    </div>

                    <div class="cod-promo">
                        ¿Tenés algún código de promoción?
                        <input type="text" placeholder="Ingresá el código" class="in-button"><button type="button" class="button-2">Validar</button>

                    </div>


                    <div class="importes-compra">
                        <ul class="nom">
                            <li type="none">Subtotal</li>
                            <li type="none">Envío</li>
                            <li type="none" class="total">Total</li>
                        </ul>
                        <ul>
                            <li type="none">$ 25.999</li>
                            <li type="none">$ 0 </li>
                            <li type="none" class="total">$ 25.999</li>
                        </ul>
                    </div>

                    <div>
                        <div class="pay-but">
                            <button type="button" class="pagar">PAGAR</button>
                        </div>
                    </div>
                </section>

            </div>
        </main>
        <span class="fa-solid fa-circle-arrow-up">
    </span>
        <%- include('../partials/footer') %>
</body>

</html>