.products-wrapper {
    margin-top: 30px;
    margin-bottom: 30px;

}

.container {
    width:100%;
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto
    
}
/*para  que redireccionar x categoría, no quede debajo del header*/
div[id]{
    scroll-margin-top: 270px;
}
.products-title {
    font-size: 2.4em;
    font-weight: 400;
}

.row {
    display:-ms-flexbox;
    display:flex;
    flex-wrap:wrap;
    margin-right:-15px;
    margin-left:-15px;
    justify-content: space-around;
}


.col-sm-6 {
    -ms-flex:0 0 50%;
    flex:0 0 50%;
    max-width:50%}

.col-lg-3 {
    -ms-flex:0 0 25%;
    flex:0 0 25%;
    max-width:25%
}

.product-box {
    background-color: #e8e8e7;
    border-radius: 5px;
    overflow: hidden;
    padding: 10px;
    margin: 20px 0;
    width: 250px;
    height: 400px;
}

.product-box a {
    display: block;
}

article.product-box_data {
    padding: 15px;
    position: relative;
    bottom: 1;
    align-items: center;
}

.product-box_image img{
    width: 100%;
    max-height: 290px;
}
  


.category-title {
    background-color: rgba(194, 29, 23, 0.9);
    -ms-flex:0 0 80%;
    flex:0 0 80%;
    justify-content: center;
    align-items: center;
    color: #e8e8e7;
    margin-left: 10px;
    font-size: 2em;
    font-weight: bold;
}

p.busqueda-title{
    font-size: 20px;
}

a:-webkit-any-link{
    color: black;
    text-decoration: none;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.fa-xmark, .fa-pen{
    color: gray;
    font-size: 20px;
    margin-bottom: 5px ;
    padding: 10px;
}

.fa-xmark:hover, .fa-pen:hover{
    color: rgb(194, 29, 23);
}

button{
    background-color: #e8e8e7;
    color: #e8e8e7;
    padding: 0;
    border-color: #e8e8e7;
    border-width: 0;
    font-size: 20px;
}

