/*Estilo main*/


/*Carrusel ppal*/

.imgCarrusel {
    width: 90%;
    margin: 15px 15px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.botones {
    box-sizing: border-box;
    background-color: #e5e7e9;
    width: 80%;
    display: flex;
    flex-direction: row;
    margin: 3% 10%;
    padding: 0.3rem 30%;
}

.boton {
    background-color: #160812;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    margin: 0.3rem;
}


/*Prod. nueva temporada*/

.nuevaTemporada h3 {
    text-align: center;
}

.prodNuevaTem {
    display: flex;
    text-align: center;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    background-color: #e6e7e9;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.prodNuevaTem p {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}

.imgNuevaTemp {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    width: 70px;
    align-items: center;
}

.imgNuevaTemp:hover {
    box-shadow: 0px 0px 10px rgb(154, 22, 22);
    width: 80px;
    transition: 0.5s;
}


/*Sección ofertas*/

.prodOfertas h4 {
    text-align: center;
}

.prodOfertas {
    margin: 50px 45px;
    background-color: #e5e7e9;
    text-align: center;
}

.img {
    width: 220px;
    margin: 15px 5px;
}

.prodOfertas p {
    text-align: center;
}

.promoPrecio {
    color: red;
}

.promoPrecio:hover {
    color: rgb(237, 19, 19);
    font-size: larger;
    font-weight: 700;
}


/*Box suscribirse*/

.suscripcion {
    font-weight: bold;
    background-color: #c21d17;
    opacity: 95%;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    display: flex;
    flex-direction: row;
    height: 65px;
    padding: 10px;
    margin: 30px;
    align-items: center;
}

form {
    text-align: center;
    width: 65%;
    margin-right: 5%;
}

.suscripcion h6 {
    text-align: center;
    width: 30%;
    font-weight: bolder;
}


@media(min-width:760px) {

    .botones {
        justify-content: center;
    }
}