.products-wrapper {
    margin-top: 30px;
    margin-bottom: 30px;

}

.container {
    width:100%;
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto
    
}
/*para  que redireccionar x categoría, no quede debajo del header*/
div[id]{
    scroll-margin-top: 270px;
}
.products-title {
    font-size: 2.4em;
    font-weight: 400;
    color: var(--gray);
}

.row {
    display:-ms-flexbox;
    display:flex;
    flex-wrap:wrap;
    margin-right:-15px;
    margin-left:-15px;
    justify-content: space-around;
}


.col-sm-6 {
    -ms-flex:0 0 50%;
    flex:0 0 50%;
    max-width:50%}

.col-lg-3 {
    -ms-flex:0 0 25%;
    flex:0 0 25%;
    max-width:25%
}

.product-box {
    background-color: #e8e8e7;
    border-radius: 5px;
    overflow: hidden;
    padding: 10px;
    transition: 300ms;
    margin: 20px 0;
}

.product-box a {
    display: block;
}

.product-box_image {
    border-bottom: 1px solid var(--light-gray);
}

.product-box_data {
    padding: 15px;

    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.product-box_data h2 {
    font-weight: 300;
    margin: 0;
}

.product-box_data span {
    font-size: 1em;
    font-weight: 300;
    color: var(--green);
}

.product-box_data p{
    font-size: 1.5em;
    text-decoration: none;
    width: 100%;
    color: var(--gray);
    transition: 300ms;
    overflow: hidden;
}


.product-box:hover p {
    height: 40px;
    margin-top: 15px;
}


img {
    width: 100%;
}
  
.product-detail-price {
    font-size: 5em;
}

.small {
    font-size: 1.8em;
    color: var(--green);
}

.small span {
    text-decoration: line-through;
}

.category-title {
    background-color: rgba(194, 29, 23, 0.9);
    -ms-flex:0 0 80%;
    flex:0 0 80%;
    justify-content: center;
    align-items: center;
    color: #e8e8e7;
    margin-left: 10px;
    font-size: 2em;
    font-weight: bold;
}

p.busqueda-title{
    font-size: 20px;
}
