/*Estilo main*/

.carrusel{
    background-color: black;
    width: 100vw;
    height: 40vh;
    display:flex;
    justify-content: center;
    align-items: center;
    margin:25px;
}
.carrusel-items{
    background-color: #c21d17;
    width: 100vw;
    height: 40vh;
    display:flex;
    justify-content: flex-start;
    flex-direction: row;
    overflow-x: hidden;/*scroll*/
    overflow-y: hidden;
    padding:30px 0px;
}
.carrusel-item{
    background-color: aqua;
   min-width: 250px;
    max-width: 250px;
    height: 250px;
    outline: 2px solid black;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.carrusel-item img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.carrusel-item:hover{
    transform:scale(1.2)
}


/*Prod. nueva temporada*/
main{
    justify-content: center;
}

.index-nuevaTemp{
    padding: 20px;
    display: flex;
    overflow-x:scroll;
    margin: 0 5%;
    align-items:center;
    justify-content: space-between;
}

.index-nuevaTemp article{
    width: 100%;
    margin-right: 10px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    transition: transform .2s;
}

.info-box{
    border-top: #e5e7e9 solid 2px;
    font-size: 15px;
}

.info-box h2{
    font-size: 15px;
    font-weight: bolder;
}

.index-imgNuevaTemp {
    width: 100px;
    align-items: center;
    object-fit: cover;
    display: block;
}

/*Sección ofertas*/


.container-slider{
    width: 250px;
    height: 125px;
    margin: auto;
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

input[type=radio]{
    display: none;
}

.container-promo{
    width: 100%;
    height: 100%;
    max-width: 800px;
    max-height: 600px;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prod-ofertas{
    position: relative;
    width: 100%;
    height: 100%;
}

.ofertas{
    position: absolute;
    width: 60%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.index-img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

#item-2:checked ~ .prod-ofertas #promo1,
#item-1:checked ~ .prod-ofertas #promo3,
#item-3:checked ~ .prod-ofertas #promo2{
    transform: translateX(-60%) scale(0.5);
    opacity: 0.6;
    z-index: 0;
}

#item-3:checked ~ .prod-ofertas #promo1,
#item-1:checked ~ .prod-ofertas #promo2,
#item-2:checked ~ .prod-ofertas #promo3{
    transform: translateX(60%) scale(0.5);
    opacity: 0.6;
    z-index: 0;
}

#item-1:checked ~ .prod-ofertas #promo1,
#item-2:checked ~ .prod-ofertas #promo2,
#item-3:checked ~ .prod-ofertas #promo3{
    transform: translateX(0) scale(1);
    z-index: 1;
}

.prod-ofertas label p{
    background-color: #e5e7e9;
    opacity: 0.8;
    font-size: 12px;
} 

.index-promoPrecio {
    color: red;
}

.index-promoPrecio:hover {
    color: rgb(237, 19, 19);
    font-size: larger;
    font-weight: 700;
}

.precioViejo{
    text-decoration:line-through;
}



/*Box suscribirse*/

.index-suscripcion {
    font-weight: bold;
    background-color: #c21d17;
    opacity: 95%;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    display: flex;
    flex-direction: row;
    height: 65px;
    padding: 20px;
    margin: 5% 5%;
    align-items: center;
    
}

.index-form {
    display: flex;
    flex-direction: column;
    text-align:center;
    width: 45%;
    margin: 3em 5em;
    font-size: small;
}

.index-suscripcion h4 {
    text-align: center;
    width: 50%;
    font-weight: bolder;
    font-size: x-small;
}


@media(min-width:760px) {
    .index-nuevaTemp{
        padding: 60px;
        margin: 0 20%;
    }

    .index-imgNuevaTemp{
        width: 200px;
        transition: transform .2s;
    }

    .index-nuevaTemp article{
        margin-right: 30px;
        transition: transform .2s;
    }

    .index-nuevaTemp article:hover {
        transform: scale(1.35);
        box-shadow: 0px 0px 10px rgb(154, 22, 22);
        transition: 0.5s;
    }

    .index-botones {
        justify-content: center;
    }

    .prod-ofertas label p{
        font-size: 18px;
    } 
    
    .container-slider{
        width: 500px;
        height: 250px;
    }

    .index-suscripcion {
        margin: 5em 10em;
    }

    .index-form {
        margin: 0 10%;
        font-size: large;
    }

    .index-suscripcion h4 {
        font-size: small;
    }

    input#name{
        margin: 10em;
    }
}
