.search {
    display: none;
}

.main-navbar {
    display: none;
}

.trolley {
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 5px;
}

.fa-solid {
    color: #160812;
}

div ul li i {
    margin: 0 5px;
}


/* estilos del main */

.main-picture {
    text-align: center;
    margin-top: 15px;
    width: 65%;
    background-color: antiquewhite;
    margin: auto;
}

.product_img {
    width: 60%;
    margin: 5px;
}


/* arma slide de fotos*/

.galeria {
    width: 90%;
    margin: auto;
    list-style: none;
    padding: 5px 20px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.galeria li {
    margin: 5px;
}

.galeria img {
    width: 40px;
}

.modal {
    display: none;
}

.modal:target {
    display: block;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 15;
}

.modal h3 {
    text-align: center;
    margin: 15px 0;
}

.imagen {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen a {
    color: #fff;
    font-size: 40px;
    text-decoration: none;
    margin: 0 10px;
}

.imagen img {
    width: 500px;
    height: 100%;
    max-width: 100%;
    border: 7px solid #fff;
    box-sizing: border-box;
}

.imagen-dos {
    margin: 0;
    height: 100%;
    flex-shrink: 2;
}

.cerrar {
    display: block;
    background: #fff;
    width: 25px;
    height: 25px;
    margin: 5px auto;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color: #000;
    padding: 5px;
    border-radius: 50%;
    line-height: 25px;
}


/* termina slide de fotos */

.products {
    text-align: center;
    margin: 20px 0;
}

.product-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px;
}

.product-name {
    font-weight: bold;
    width: 50%;
}

.price {
    text-align: end;
    font-weight: bold;
    width: 50%;
}

.product-description {
    font-size: 12px;
    margin: 0 10px;
}

details summary {
    border-top: 1px solid #160812;
    border-bottom: 1px solid #160812;
    margin: 0 12px;
    font-size: 12px;
}

.product-description {
    text-align: justify;
    margin: 10px;
    font-size: 11px;
}

.color-head form {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.color {
    width: 30%;
    background-color: #f8f9f9;
}

.talle {
    width: 30%;
    background-color: #f8f9f9;
}

h4 {
    margin-bottom: 5px;
    font-size: 15px;
}

.add-trolley {
    width: 60%;
    border-radius: 30px;
    border: solid 1px #808b96;
    text-align: center;
    margin: auto;
    padding: 5px;
    color: #f6f5f5;
    font-weight: bold;
    background: #c21d17;
    cursor: pointer;
    transition: all 500ms;
}

.add-trolley:hover {
    background-color: #160812;
}


/* product create */

.create-product {
    padding: 20px 15px;
    background-color: #8080802e;
    width: 70%;
    margin: 15px auto;
    border: 2px solid;
    text-align: left;
}

.control-formulario {
    margin-bottom: 15px;
}

.control {
    width: 50%;
    padding: 3px;
}

.intereses {
    display: flex;
    align-items: baseline;
    margin-bottom: 5px;
    margin: 15px;
}

.label {
    font-weight: bold;
}

/* hacemos las media queris para los distintos tamaños de dispositivos*/

@media (min-width: 760px) {
    .input {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 20px auto;
        width: 250px;
        background-color: #e8e8e7;
        border: 2px solid #e8e8e7;
        border-radius: 10px;
    }
}