/* estilos del main */

.detail-main-picture {
    text-align: center;
    margin-top: 15px;
    width: 65%;
    background-color: antiquewhite;
    margin: auto;
}

.detail-product_img {
    width: 60%;
    margin: 5px;
}


/* arma slide de fotos*/

.detail-galeria {
    width: 90%;
    margin: auto;
    list-style: none;
    padding: 5px 20px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.detail-galeria li {
    margin: 5px;
}

.detail-galeria img {
    width: 40px;
}

.detail-modal {
    display: none;
}

.detail-modal:target {
    display: block;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 15;
}

.detail-modal h3 {
    text-align: center;
    margin: 15px 0;
}

.detail-imagen {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail-imagen a {
    color: #fff;
    font-size: 40px;
    text-decoration: none;
    margin: 0 10px;
}

.detail-imagen img {
    width: 500px;
    height: 100%;
    max-width: 100%;
    border: 7px solid #fff;
    box-sizing: border-box;
}

.detail-imagen-dos {
    margin: 0;
    height: 100%;
    flex-shrink: 2;
}

.detail-cerrar {
    display: block;
    background: #fff;
    width: 25px;
    height: 25px;
    margin: 5px auto;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color: #000;
    padding: 5px;
    border-radius: 50%;
    line-height: 25px;
}


/* termina slide de fotos */

.detail-products {
    text-align: center;
    margin: 20px 0;
}

.detail-product-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px;
}

.detail-product-name {
    font-weight: bold;
    width: 50%;
}

.detail-price {
    text-align: end;
    font-weight: bold;
    width: 50%;
}

.detail-product-description {
    font-size: 12px;
    margin: 0 10px;
}

details summary {
    border-top: 1px solid #160812;
    border-bottom: 1px solid #160812;
    margin: 0 12px;
    font-size: 12px;
}

.detail-product-description {
    text-align: justify;
    margin: 10px;
    font-size: 11px;
}

form.detail-color-head {
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: 10px;
}

.detail-color {
    width: 30%;
    background-color: #f8f9f9;
}

.detail-talle {
    width: 30%;
    background-color: #f8f9f9;
}

.detail-h4 {
    margin-bottom: 5px;
    font-size: 15px;
}

.detail-add-trolley {
    width: 60%;
    border-radius: 30px;
    border: solid 1px #808b96;
    text-align: center;
    margin: auto;
    padding: 5px;
    color: #f6f5f5;
    font-weight: bold;
    background: #c21d17;
    cursor: pointer;
    transition: all 500ms;
}

.detail-add-trolley:hover {
    background-color: #160812;
}