main {
    margin: 0 5px;
    font-size: 14px;
}

body {
    font-family: "Roboto";
    margin: .3rem;
}

header {
    background-color: #c21d17;
    filter: drop-shadow(0 0 0.75rem #330807);
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}


.promos-bancarias {
    background-color: #160812;
    margin-top: 0;
    margin-bottom: 0;
    height: 35px;
    font-size: small;
    color: white;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: flex;
}

.logo {
    margin: 0px auto;
    width: 7rem;
    order: 1;
}

.search-bar {
    display: none;
}

.icon-right {
    order: 2;
    margin: 0 25px;
}

.bars-icon {
    margin: 0 25px;
}

/* dropdown*/

.dropdown {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: auto;
}

.bars button {
    background: none;
    border: none;
    color: #160812;
    font-size: 18px;
    cursor: pointer;
}

.bars ul {
    position: absolute;
    background-color: #e8e8e7;
    margin-top: 10px;
    padding-left: 0;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    list-style: none;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: all 0.4s ease;
}

.bars a {
    color: #160812;
    text-decoration: none;
}

.bars li {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bars li:hover {
    background-color: #c21d17;
}


.dropdown button:hover {
    color: #c21d17;
}

.bars button:focus+ul {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0px);
}


.icon {
    color: #160812;
    font-size: 18px;
}

.cuadro-ppal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border: solid 2px #e8e8e7;
    border-radius: 15px;
    margin: 35px 10px;
}

.butt-group button {
    background-color: #c21d17;
    border: 1px #c21d17 solid;
    color: white;
    padding: 10px 25px;
    cursor: pointer;
    float: left;
}

.butt-group button:not(:last-child) {
    border-right: none;
}

.butt-group::after {
    content: "";
    clear: both;
    display: table;
}

.butt-group button:hover {
    background-color: #e8e8e7;
    color: #c21d17;

}

.disabled {
    opacity: 0.4;
}

.login {
    background-color: #c21d17;
    border: 1px #c21d17 solid;
    filter: drop-shadow(0 0 0.2rem #330807);
    border-radius: 20px;
    padding: 10px 25px;
    color: white;
    width: 270px;
    font-size: 18px;
    margin: 25px 0;
}

.login:hover {
    background-color: #e8e8e7;
    color: #c21d17;
}

.em-pass {
    display: flex;
    flex-direction: column;
}

.placeholder {
    padding: 10px;
    width: 250px;
    border-radius: 5px;
    margin: 5px 0;
}

.check {
    display: flex;
    flex-direction: column;
}

footer {
    background-color: #e8e8e7;
    filter: drop-shadow(0 0 0.75rem #5c5c5a);
    display: flex;
    align-items: center;
    margin-top: 90px;
}

.link-foot {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
    font-size: 12px;
}

.links-footer {
    color: #160812;
    text-decoration: none;
    margin: 0 8px;
}

.footer-icon {
    color: #160812;
    size: 2em;
    margin: 2em;
    width: 10%;
}

.arrow {
    position: fixed;
    color: #160812;
    filter: drop-shadow(0 0 0.75rem #5c5c5a);
    font-size: 22px;
    right: 25px;
    bottom: 150px;
}

p {
    text-align: center;
}


@media (min-width: 760px) {
    header {
        justify-content: space-between;
    }

    .logo {
        width: 9rem;
        order: 0;
        margin: 0 15px;
    }

    .bars-icon {
        display: none;
    }

    .search-bar {
        display: flex;
        align-items: center;
        justify-content: stretch;
        margin: 0px auto;
        position: relative;
    }

    .buscador {
        display: flex;
        background-color: #e8e8e7;
        padding: 10px;
        border-radius: 5px;
        width: 300px;
        border: solid #160812 2px;
    }

    .icon-glass {
        position: absolute;
        color: #c21d17;
        align-self: center;
        right: 8px;
        padding-left: 8px;
        font-size: 19px;
        border-left: solid 2px #160812;
    }

    .icon-right {
        font-size: 35px;
    }

    .cuadro-ppal {
        font-size: 16px;
        margin: 35px 55px;
    }

    .check {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: small;
    }

    p {
        text-align: left;
        margin-right: 25px;
    }


    .link-foot {
        flex-direction: row;
        justify-content: center;
    }

    .arrow {
        font-size: 25px;
        right: 15px;
        bottom: 160px;
    }

    footer {
        margin-top: 100px;
    }
}

@media (min-width: 1500px) {
    .logo {
        width: 12rem;
        margin-left: 90px;
    }

    main {
        font-size: 18px;
    }

    .buscador {
        width: 700px;
    }

    .cuadro-ppal {
        font-size: 16px;
        margin: 35px 300px;
    }

    .check {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: medium;
    }

    .links-footer {
        margin: 0 80px;
        font-size: 13px;
    }

    footer {
        margin-top: 230px;
    }
}