/*Estilo main*/

.login-cuadro-ppal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border: solid 2px #e8e8e7;
    border-radius: 15px;
    margin: 35px 10px;
}

.login-butt-group button {
    background-color: #c21d17;
    border: 1px #c21d17 solid;
    color: white;
    padding: 10px 25px;
    cursor: pointer;
    float: left;
}

.login-butt-group button:not(:last-child) {
    border-right: none;
}

.login-butt-group::after {
    content: "";
    clear: both;
    display: table;
}

.login-butt-group button:hover {
    background-color: #e8e8e7;
    color: #c21d17;
}

.login-disabled {
    opacity: 0.4;
}

.login {
    background-color: #c21d17;
    border: 1px #c21d17 solid;
    filter: drop-shadow(0 0 0.2rem #330807);
    border-radius: 20px;
    padding: 10px 25px;
    color: white;
    width: 270px;
    font-size: 18px;
    margin: 25px 0;
}

.login:hover {
    background-color: #e8e8e7;
    color: #c21d17;
}

.login-placeholder {
    padding: 10px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid #160812;
    margin: 5px 0;
}

.login-check {
    display: flex;
    flex-direction: column;
}


@media (min-width: 760px) {
    .login-cuadro-ppal {
        font-size: 16px;
        margin: 35px 200px;
    }

    .login-check {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: small;
    }


}

@media (min-width: 1500px) {

    .login-cuadro-ppal {
        font-size: 16px;
        margin: 35px 300px;
    }

    .login-placeholder {
        display: flex;
        flex-direction: column;
    }

    .login-check {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: medium;
    }

}