/*Estilo main*/

.register-cuadro-ppal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border: solid 2px #e8e8e7;
    border-radius: 15px;
    margin: 35px 10px;
}

.register-butt-group button {
    background-color: #c21d17;
    border: 1px #c21d17 solid;
    color: white;
    padding: 10px 25px;
    cursor: pointer;
    float: left;
}

.register-butt-group button:not(:last-child) {
    border-right: none;
}

.register-butt-group::after {
    content: "";
    clear: both;
    display: table;
}

.register-butt-group button:hover {
    background-color: #e8e8e7;
    color: #c21d17;
}

.register-disabled {
    opacity: 0.4;
}

.register-registrarme {
    background-color: #c21d17;
    border: 1px #c21d17 solid;
    filter: drop-shadow(0 0 0.2rem #330807);
    border-radius: 20px;
    padding: 10px 25px;
    color: white;
    width: 270px;
    font-size: 18px;
    margin: 25px 0;
}

.register-registrarme:hover {
    background-color: #e8e8e7;
    color: #c21d17;
}

.register-placeholder {
    padding: 10px;
    width: auto;
    border-radius: 5px;
    margin: 5px 0;
    border: 1px solid #160812;
}


@media (min-width: 760px) {

    .register-form {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
    }

    .register-datos {
        margin-left: 25px;
    }

    .register-p {
        text-align: left;
    }

}

@media (min-width: 1500px) {
    .register-cuadro-ppal {
        font-size: 16px;
        margin: 35px 300px;
    }
}