/* product create */

.create-product {
    padding: 20px 15px;
    background-color: #8080802e;
    width: 70%;
    margin: 15px auto;
    border: 2px solid;
    text-align: left;
}

.create-control-formulario {
    margin-bottom: 15px;
}

.create-control {
    width: 50%;
    padding: 3px;
}

.create-label {
    font-weight: bold;
}