/*Estilos generales*/
* {
    margin: 0px;
}

body {
    font-family: "Roboto";
}

main {
    margin: 180px auto 0px;
    text-align: center;
}

/*Estilos header*/

header {
    background-color: #c21d17;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contenedorHeader {
    width: 100%;
    position: fixed;
    top: 0;
    filter: drop-shadow(0 0 0.75rem #330807);
    z-index: 1;
}

.promos-bancarias {
    background-color: #160812;
    margin-top: 0;
    margin-bottom: 0;
    height: 35px;
    font-size: small;
    color: white;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: flex;
}

.logo {
    width: 7rem;
}

.search-bar {
    display: none;
}

.icon-right a {
    color: #160812;
    font-size: 25px;
}

.navegadorHorizonal {
    display: none;
}


/* dropdown*/

body header nav {
    order: -1;
}

.dropdown {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bars button {
    background: none;
    border: none;
    color: #160812;
    font-size: 25px;
    cursor: pointer;
}

.bars ul {
    position: absolute;
    background-color: #e8e8e7;
    margin-top: 10px;
    padding-left: 0;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    list-style: none;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: all 0.4s ease;
}

.bars a {
    color: #160812;
    text-decoration: none;
}

.bars li {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bars li:hover {
    background-color: #c21d17;
}

.dropdown button:hover {
    color: #c21d17;
    background-color: #e8e8e7;
    border-radius: 5px;
}

.bars button:focus+ul {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0px);
}

/*Estilo main*/

.cuadro-ppal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border: solid 2px #e8e8e7;
    border-radius: 15px;
    margin: 35px 10px;
}

.butt-group button {
    background-color: #c21d17;
    border: 1px #c21d17 solid;
    color: white;
    padding: 10px 25px;
    cursor: pointer;
    float: left;
}

.butt-group button:not(:last-child) {
    border-right: none;
}

.butt-group::after {
    content: "";
    clear: both;
    display: table;
}

.butt-group button:hover {
    background-color: #e8e8e7;
    color: #c21d17;
}

.disabled {
    opacity: 0.4;
}

.registrarme {
    background-color: #c21d17;
    border: 1px #c21d17 solid;
    filter: drop-shadow(0 0 0.2rem #330807);
    border-radius: 20px;
    padding: 10px 25px;
    color: white;
    width: 270px;
    font-size: 18px;
    margin: 25px 0;
}

.registrarme:hover {
    background-color: #e8e8e7;
    color: #c21d17;
}

.placeholder {
    padding: 10px;
    width: auto;
    border-radius: 5px;
    margin: 5px 0;
    border: 1px solid #160812;
}

/*Estilo footer*/

footer {
    background-color: #e8e8e7;
    filter: drop-shadow(0 0 0.75rem #5c5c5a);
    display: flex;
    align-items: center;
    margin-top: 200px;
}

.link-foot {
    display: flex;
    flex-direction: row;
    width: 70%;
    font-size: 12px;
    justify-content: space-evenly;
}

.links-footer {
    color: #160812;
    text-decoration: none;
}

.footer-icon {
    color: #160812;
    size: 2em;
    margin: 2em;
    width: 10%;
}

.fa-circle-arrow-up {
    padding: 20px;
    color: #160812;
    filter: drop-shadow(0 0 0.75rem #5c5c5a);
    font-size: 22px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    opacity: 65%;
}

p {
    text-align: center;
}

@media (min-width: 760px) {
    header {
        position: relative;
    }

    main {
        margin: 225px auto 0px;
    }

    .logo {
        width: 9rem;
        margin-left: 20px;
    }

    .bars button {
        display: none;
    }

    .dropdown {
        display: none;
    }

    .search-bar {
        display: flex;
        align-items: center;
        margin: 0px auto;
        position: relative;
    }

    .buscador {
        display: flex;
        background-color: #e8e8e7;
        padding: 10px;
        border-radius: 5px;
        width: 370px;
        border: solid #160812 2px;
        margin-left: -50px;
    }

    .icon-glass {
        position: absolute;
        color: #c21d17;
        align-self: center;
        right: 8px;
        padding-left: 8px;
        font-size: 19px;
        border-left: solid 2px #160812;
    }

    .icon-right a {
        font-size: 35px;
    }

    .icon-right {
        margin-right: 20px;
    }

    main form {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
    }

    .datos {
        margin-left: 25px;
    }

    p {
        text-align: left;
    }


    .link-foot div {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .link-foot {
        width: 90%;
    }

    .links-footer {
        margin: 0 10px;
        font-size: medium;
    }


    .footer-icon {
        color: #160812;
        font-size: 30px;
        margin: 10px;
        width: 10%;
    }

    /* el navegador horizontal */
    div .navegadorHorizonal {
        background-color: #c21d17;
        opacity: 85%;
        width: 100%;
    }

    .navegadorHorizonal {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .navegadorHorizonal button a {
        color: #e8e8e7;
        font-weight: 18px;
        font-weight: bold;
    }

    .navegadorHorizonal button {
        background-color: #c21d17;
        padding: 8px;
        width: 90px;
        float: left;
        border: 1px solid #160812;
        border-top: none;
        border-bottom: none;
    }

    .navegadorHorizonal button:hover {
        background-color: #e8e8e7;
        border: 1px solid #c21d17;
    }

    .navegadorHorizonal button a:hover {
        color: #c21d17;
        font-weight: 20px;
    }
}

@media (min-width: 1500px) {

    main {
        margin: 280px auto 0px;
    }

    .logo {
        width: 12rem;
    }


    .buscador {
        width: 700px;
        margin-left: -90px;
    }

    .icon-right a {
        font-size: 45px;
    }

    .navegadorHorizonal button {
        padding: 10px;
        width: 150px;
        border: 1px solid #160812;
        border-top: none;
        border-bottom: none;
    }

    .cuadro-ppal {
        font-size: 16px;
        margin: 35px 300px;
    }

    .links-footer {
        margin: 0 80px;
    }

}